body {
    font-family: 'Arial', sans-serif;
    background-color: rgba(211, 252, 238, 0.651);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

header, footer {
    background-color: #0000006c;
    color: #fff;
    text-align: center;
    padding: 1em;
    width: 100%;
}

.header-container img{
    box-shadow: none;
    width: 100px;
    top: 23px;
    bottom: 0;
    position: absolute;
}

.header-container img:first-child {
    left: 0;
}

.header-container img:last-child {
    right: 0;
}

.header-container h2 {
    margin: 22px;
    padding: 0;
    font-size: 40px;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
}

main {
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    max-width: 800px;
    padding: 20px;
}

img {
    max-width: 600px;
    height: auto;
    border-radius: 5px;
    box-shadow: 12px 12px 2px rgba(0, 0, 0, 0.3), -2px -2px 4px rgba(0, 0, 0, 0.8);
    margin-bottom: 20px;
}

footer {
    display: block;
    bottom: 0;
}

h1 {
    margin: 0;
    padding: 0;
}

.section-container {
    margin-top: 50px;
}

#img-maps {
    margin-top: 20px;
    width: 60px;
    height: auto;
    box-shadow: none;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .header-container h2 {
        font-size: 30px;
    }

    .header-container img{
        width: 80px;
        top: 65px;
    }

    img {
        max-width: 100%;
    }

    footer {
        font-size: 14px;
    }
}